@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.carousel{
  height: 33rem;
}

@media (min-width: 768px) {
  .carousel{
    height: 33rem;
  }
}

@media (min-width: 1024px) {
  .carousel{
    height: 35rem;
  }
}

.dot{
  background: #00095E !important;
}

.control-dots{
  display: none;
  text-align: start !important;
  left: 30px;
}

@media (min-width: 768px) {
  .control-dots{
    display: block;
    left: 70px !important;
  }
}

@media (min-width: 1024px) {
  .control-dots{
    display: block;
    left: 100px !important;
  }
}

.bg-img{
  background-image: url('/src/Assets/parallex\ image.webp');
  height: 100%;
  width: 100%;
}